.result-card{
    font-family: 'Urbanist', sans-serif;
    top:150px;
    background-color: rgba(0, 0, 0, 0.3);
    color:#ffffffb2
}

.status-btn{
    background-color: #ff0000;
    width: 100px;
    height: 25px;
    border-radius: 5%;
}

.dark-table{
    background-color: rgba(0, 0, 0, 0);
}

td, th{
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color:#ffffffb2;

}

.endbtn{
    margin-bottom: 10px;
    text-align: center;
}

.tsev{
    font-weight: 500;
}

.dotdots{
    position: absolute;
    top:15vh;
    left:37vw;
}